/* ----- Спецификация ----- */
body{
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	color: #000;
	letter-spacing: 0.02em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	text-transform: uppercase;
	margin: 0;
}

section {

}

textarea {
  resize: none;
}

h1 {
	font-size: 23px;
}

h2 {
	font-size: 25px;
}

p, ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

a, a:hover, a:active {
	text-decoration: none;
}

a {
	transition: all 0.5s ease;
}

button {
	transition: all 0.5s ease;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active{
	outline: none;
}

p {
	line-height: 1.5em;
}

.button {
	text-align: center;
	display: block;
	width: 203px;
	height: 55px;
	line-height: 55px;
	background: #FFDD2D;
	font-size: 16px;
	color: #000000;
	border: 1px solid #FFDD2D;
}

.button:hover {
	color: #ffdd2d;
	background: #fff;
}

#loader {
	display: none;
}

.modal-form {
	display: flex;
	flex-direction: column;
}

.box-modal {
	padding: 50px;
	background-color: #000;
	border-radius: 10px;
}

.menu-open {
	display: none;
}

.menu-opened {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 0;
	background-color: rgba(255, 255, 255, 0.94);;
	padding: 40px;
	width: 100%;
	z-index: 9;
	box-shadow: 0px 4px 7px -2px #dcd4d4;
}

.menu-opened li {
	margin-top: 20px;
	border-bottom: 1px solid #000;
	padding-bottom: 20px;
	font-size: 20px;
}

.fa-bars {
	font-size: 25px;
}

.owl-stage-outer {
		height: 448px;
		padding-top: 20px;
}

/* ----- Header ----- */

.header {
	padding-top: 45px;
	min-height: 91vh;
}

.header::after {
	content: '';
	display: block;
	background-image: url(../img/bg-header.jpg);
	background-repeat: no-repeat;
	z-index: -2;
	width: 50%;
	height: 200%;
	position: absolute;
	top: 0;
	right: 0;
}

.logo {
	font-size: 24px;
	color: #000000;
}

.logo span {
	color: #ffdd2d;
}

.menu-icon {
	display: none;
}

.logo:hover {
	text-decoration: none;
	color: #000000;
}

.nav__menu {
	display: flex;
	justify-content: space-between;
}

.nav__menu_item {
	color: #000000;
	font-weight: 500;
	text-transform: uppercase;
	margin-right: 20px;
}

.nav__menu_item:hover {
	color: #ffdd2d;
}

.header__phone {
	font-weight: 500;
	font-size: 17px;
	color: #FFFFFF;
}

.header__phone:hover {
	color: #ffffff;
}

.header__line {
	width: 674px;
	border: 1px solid rgba(234, 234, 234, 0.5);
	margin-top: 47px;
	display: block;
}

.header__title {
	font-weight: 500;
	line-height: 1.7em;
	padding-top: 120px;
	font-size: 30px;
}
.header__title span {
	color: #ffdd2d;
	font-weight: 700;
}

.header__title span:nth-child(2) {
	color: #000;
	font-weight: 700;
}

.header__text {
	line-height: 1.7em;
	width: 260px;
	margin: 40px 0 48px 0;
}

.header__btn {

}

.header__links {
	background: #000;
	margin-left: 15px;
	margin-top: 130px;
}

.header__links .header__links-img:nth-child(2) {
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}

/* ADVICE */

.advice {
	background-image: url(../img/advicebg.png);
	background-repeat: no-repeat;
	padding-bottom: 100px;
}

.advice__title {
	margin-bottom: 80px;
}

.advice__title span {
	color: #FFDD2D;
}

.advice__title_span {
	text-transform: none;
	color: #000000 !important;
}

.advice__wrap_text {
	font-weight: bold;
	font-size: 18px;
}

.advice__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.advice__wrap_box {
	display: flex;
	align-items: center;
	padding: 40px 31px 40px 50px;
	box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
	background-color: #fff;
}

.advice__wrap_box-wrap {
	margin-left: 70px;
}

.advice__wrap_box-wrap p {
	line-height: 1.9em;
}

.margin {
	margin-left: 0;
	margin-right: 100px;
}

.advice__wrap_box-wrap p {
	color: #565656;
}

.advice-card {
	margin: 70px 0;
}

/* BOYS */

.boys {
	padding-bottom: 100px;
}

.owl-carousel {
	margin-left: 105px;
}

.owl-carousel .owl-item img {
	min-width: 157px;
	width: 157px;
}

.slide {
	padding-top: 28px;
	box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.08);
	padding-bottom: 45px;
}


.slide img {
	margin: 0 auto;
}

.slide__text {
	margin-top: 22px;
	margin-left: 16px;
}

.owl-theme .owl-nav [class*=owl-] {
	margin: 0;
	border-radius: 0;
}

.owl-theme .owl-dots, .owl-theme .owl-nav  {
	position: absolute;
	right: 20%;
	top: -145px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
	background-color: #0D0000;
	width: 60px;
	color:#7D7070;
	height: 45px;
	line-height: 45px;
}

.owl-theme .owl-nav [class*=owl-]:hover{
	background: #0D0000;
	color: #FFD22B;
}

.owl-prev, .owl-next span {
	font-size: 25px;
}
.owl-prev span {
	font-size: 25px;
	
}

.owl-prev {
	border-right: 1px solid white;
}

/* Safely */

.safely {
	padding-bottom: 80px;
}

.safely__text {
	margin-bottom: 40px;
}

/* Receipt */

.receipt {
	
}

.receipt__title {
	margin-bottom: 55px;
}

.receipt__text {
	margin-bottom: 40px;
}

.receipt__wrap {
	margin-top: 33px;
}

/* Feedback */

.feedback {
	background-color: #000;
	padding: 65px 0 74px;
}

.feedback__title {
	color: #ffffff;
	text-transform: none;
	width: 222px;
}

.feedback__title span {
	text-transform: uppercase;
	color: #FFDD2D;
}

.cost {
	background-image: url(../img/costImg.svg);
	background-repeat: no-repeat;
	color: #FFDD2D;
	background-position: left;
	display: flex;
	padding-left: 92px;
	align-items: center;
	min-width: 55%;
	height: 55%;
}

.cost p {
	font-size: 15px;
}

.cost span {
	font-size: 38px;
}
.form {

}

.form__input {
	width: 362px;
	height: 55px;
	line-height: 55px;
	background-color: #000;
	padding-left: 17px;
	margin-bottom: 18px;
	color: #ffffff;
}

.form__btn {
	margin-top: 18px;
	width: 362px;
}

/* Footer */

.footer {
	padding: 41px 0;
	background-color: #FFDD2D;
}

.footer .logo span {
	color: #ffffff;
}

.footer .nav__menu_item:hover {
	color: #fff;
}

/* faq */

.header-faq {
	padding-top: 50px;
}

.header-faq .header__line {
	width: 100%;
}

.header-faq .header__phone {
	color: #000000;
}

.answers {
	padding-bottom: 100px;
}

.answers__title {
	margin-top: 80px;
	margin-bottom: 50px;
}

.answers__title span {
	color: #FFD22B;
}

.answers__title span:nth-child(2) {
	color: #000;
	text-transform: none;
}

.accord__item:not(:last-child) {
  margin-bottom: 8px;
}
.accord__question {
  padding: 28px 34px 31px 29px;
  background: #FBFBFB;
  cursor: pointer;
}

.accord__question p {
	font-weight: 500;
	font-size: 18px;
}

.accordMinus {
	display: none;
}

.visible-img {
	display: block;
}

.nonevisible-img {
	display: none;
}

.accord__answer {
  display: none;
  padding: 30px;
}
.accord__answer p {
  margin-bottom: 10px;
}

.faq-link {
	color: #FFDD2D;
}

.pay {
	min-height: 75vh;
}

.pay__title span{
 color: #FFD22B;
}

.thx {
	min-height: 75vh;
}

.thx__title {
	text-transform: capitalize;
}

.thx__text span {
	color: #FFD22B;
}
/* ------ Media Queries ------ */


@media screen and (max-width: 1400px) {

	.advice {
		padding-top: 90px;
	}
}

/* 992-1200px */
@media screen and (max-width: 1200px) {
	.header {
		min-height: 100%;
	}
	
}

/* 768-992px */
@media screen and (max-width: 992px) {

	.header::after {
		display: none;
	}

	.header__title {
		padding-top: 20px;
	}

	.img-wrap {
		background-image: url(../img/bg-header.jpg);
		background-repeat: no-repeat;
    background-position-x: 50px;
	}

	.header__links {
		margin-top: 10px;
	}
	.nav__menu {
		margin: 20px 0;
	}

	.logo-wrap {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.header__phone {
		color: #FFD22B;
	}

	.navigation {
		width: 100%;
    display: flex;
    justify-content: center;
	}

	.header__line {
		width: 100%;
	}

	.advice__wrap_box-wrap {
    margin-left: 29px;
	}

	.margin {
		margin-left: 0;
		margin-right: 10px;
	}

	.owl-carousel {
		margin-left: 0;
	}

	.owl-theme .owl-dots, .owl-theme .owl-nav {
    position: absolute;
    right: 29px;
    top: -80px;
	}

	.header__phone-footer {
		color: #ffffff;
	}

}

/* 576-768px */
@media screen and (max-width: 768px) {

	.logo-wrap {
		padding-left: 15px;
		padding-right: 15px;
	}
	.nav__menu {
		display: none;
	}

	.menu-open {
		display: block;
		background: none;
		border: none;
	}

	.header__links {
		display: flex;
		align-items: center;
	}

	.advice {
		background-position-y: center;
	}

	.advice__wrap_box {
		margin-top: 20px;
	}

	.safely__btn {
		width: 100%;
	}

	.cost {
		margin-bottom: 100px;
	}

	.form .form__input, .form__btn {
		width: 100%;
	}
}

@media screen and (max-width: 430px) {

	.img-wrap {
		background: none;
	}
	.advice__wrap_box {
		display: flex;
		flex-direction: column !important;
	}

	.advice__wrap_box-wrap {
		margin-left: 0;
		margin-top: 15px;
	}

	.owl-theme .owl-dots, .owl-theme .owl-nav {
    position: absolute;
    right: 29px;
    top: -138px;
	}
}

/* 320-576px */
@media screen and (max-width: 576px) {
	.header__title {
		font-size: 25px;
	}

	.menu-opened li {
		font-size: 18px;
	}

	.advice, .boys, .receipt, .advice__text {
		margin-bottom: 30px;
	}

	.form__btn {
		width: 100%;
	}

	.form__input {
		width: 100%;
	}

	.header__phone {
		font-size: 15px;
	}

	.feedback__title {
		width: 100%;
		text-align: center;
	}

	.cost {
		position: relative;
		margin-bottom: 166px;
		background-position: center;
	}

	.cost p {
		position: absolute;
    left: 40%;
    top: 25%;
	}

	.slide {
		text-align: center;
	}

	.feedback__title {
		margin-bottom: 20px;
	}

}